---
import Layout from "@/layouts/Layout.astro";
import Experience from "@/components/Experience.astro";
import About from "@/components/About.astro";
import Project from "@/components/Project.astro";
import Header from "@/components/Header.astro";
import FloatMenu from "@/components/FloatMenu.astro";
import Footer from "@/components/Footer.astro";
---

<Layout
  title="Jose Sissa - Desarrollador y Programador Web"
  description="Ingeniero de Sistemas, Desarrollador y Programador Web con enfoque en el desarrollo Front-end."
>
  <div>
    <div
      id="home"
      class="w-full max-w-screen-xl mx-auto min-h-screen px-6 pt-12 pb-28 md:py-20 md:px-12 lg:flex lg:px-24 lg:py-0"
    >
      <Header />

      <main class="lg:w-7/12 lg:pt-16 lg:pb-28">
        <Experience />
        <Project />
        <About />
        <Footer />
      </main>
      <FloatMenu />
    </div>
  </div>
</Layout>
