---
import Layout from '../layouts/Layout.astro';
import Experience from '../components/Experience.astro';
import About from '../components/About.astro';
import Project from '../components/Project.astro';
import Header from '../components/Header.astro';
import FloatMenu from '../components/FloatMenu.astro';
---

<Layout
	title="Jose Sissa - Desarrollador y Programador Web" 
	description="Ingeniero de Sistemas, Desarrollador y Programador Web con enfoque en el desarrollo Frontend."
>
	<div>
		<div id="home" class="w-full max-w-screen-xl mx-auto min-h-screen px-6 py-12 
				md:py-20 md:px-12
				lg:flex lg:px-24 lg:py-0">
			
			<Header />

			<main class="lg:w-1/2 lg:py-16">	
				<Experience />
				<Project />
				<About />

				<footer>
					<div>
						<p>
							Footer
						</p>
					</div>
				</footer>
			</main>
			<FloatMenu />
		</div>
	</div>
</Layout>
