---
import TitleSection from "./TitleSection.astro";
---

<section class="mb-16" id="about">
    <TitleSection>Sobre Mí</TitleSection>
    <p class="mb-3">
        Ingeniero de sistemas egresado de la <a class="font-bold" href="https://universidadean.edu.co/" target="_blank" rel="nofollow noreferrer" title="Web de la Universidad EAN">Universidad EAN</a> con fuertes conocimientos en el desarrollo web, apasionado por las nuevas tecnologías y enfocado en ofrecer soluciones que no solo luzcan bien, sino que, además, estén bien construidas para brindar un excelente rendimiento y fácil funcionalidad a todos los usuarios.
    </p>
    <p class="mb-3">
        Trabajando como desarrollado Front-End en Grávital, he creado y mejorado diversas páginas web, asegurando que estas cumplan las normas de accesibilidad, y que siguiendo las mejores prácticas de desarrollo web, estén optimizadas, ofreciendo un excelente rendimiento y la mejor experiencia de usuario.
    </p>
    <p>
        En mi tiempo libre, me enfoco en seguir mejorando mi inglés y en realizar proyectos personales que me ayudan a perfeccionar mis habilidades en las diversas tecnologías web, también me gusta leer, escuchar podcasts y jugar videojuegos.
    </p>
</section>