---
import TitleSection from "./TitleSection.astro";
---

<section class="mb-16" id="about">
    <TitleSection>Sobre Mí</TitleSection>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum, omnis, odio earum esse non vel eos voluptates beatae corporis qui saepe temporibus ullam sequi nihil aut autem velit delectus. Error!
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum, omnis, odio earum esse non vel eos voluptates beatae corporis qui saepe temporibus ullam sequi nihil aut autem velit delectus. Error!
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum, omnis, odio earum esse non vel eos voluptates beatae corporis qui saepe temporibus ullam sequi nihil aut autem velit delectus. Error!
    </p>
</section>