<footer class="border-t border-gray-500 pt-16 text-colorSecondary text-xs">
  <p>
    Diseño inspirado en el portafolio de
    <a
      class="font-bold text-colorPrimary"
      href="https://brittanychiang.com/"
      target="_blank"
      rel="nofollow noreferrer"
      title="Portafolio de Brittany Chiang"
    >
      Brittany Chiang.
    </a>
  </p>
  <p>
    Construido con
    <a
      class="font-bold text-colorPrimary"
      href="https://astro.build/"
      target="_blank"
      rel="nofollow noreferrer"
      title="Web de Astro">Astro</a
    > y
    <a
      class="font-bold text-colorPrimary"
      href="https://tailwindcss.com/"
      target="_blank"
      rel="nofollow noreferrer"
      title="Web de Tailwind CSS">Tailwind CSS</a
    >, desplegado en
    <a
      class="font-bold text-colorPrimary"
      href="https://vercel.com/"
      target="_blank"
      rel="nofollow noreferrer"
      title="Web de Vercel">Vercel</a
    >.
  </p>
  <p>
    Algunos proyectos fueron hechos siguiendo la guía de <a
      class="font-bold text-colorPrimary"
      href="https://github.com/midudev"
      target="_blank"
      rel="nofollow noreferrer"
      title="GitHub de Midudev">Midudev</a
    >.
  </p>
</footer>
