---
const { description, title } = Astro.props;
---

<head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Jose Rafael Sissa Mendoza">
    
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

    <meta property="og:title" content="Jose Sissa | Desarrollador y Programador Web">
    <meta property="og:description" content="Portafolio donde se evidencia mi experiencia y proyectos en el desarrollo y la programación web.">
    <meta property="og:image" content="https://jose-sissa.vercel.app/og.jpg">
    <meta property="og:url" content="https://jose-sissa.vercel.app/">
    <meta property="og:type" content="website">

    <meta name="twitter:title" content="Jose Sissa | Desarrollador y Programador Web">
    <meta property="twitter:title" content="Jose Sissa | Desarrollador y Programador Web">
    <meta name="twitter:image" content="https://jose-sissa.vercel.app/og.jpg">
    <meta property="twitter:image" content="https://jose-sissa.vercel.app/og.jpg">
    <meta name="twitter:description" content="Portafolio donde se evidencia mi experiencia y proyectos en el desarrollo y la programación web.">
    <meta property="twitter:description" content="Portafolio donde se evidencia mi experiencia y proyectos en el desarrollo y la programación web.">
    <meta property="twitter:url" content="https://jose-sissa.vercel.app/">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:card" content="summary_large_image">

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
</head>