---
import GithubIcon from './icons/GithubIcon.astro';
import LinkedinIcon from './icons/LinkedinIcon.astro';
import SocialPill from '../components/SocialPill.astro';
import Badge from '../components/Badge.astro';
---

<header class="mb-28 w-full
    lg:sticky lg:top-0 lg:max-h-screen lg:w-5/12 lg:flex lg:justify-between lg:flex-col lg:py-16 lg:mb-0">
    <div class="mb-8 md:mb-0">
        <h1 class="text-4xl sm:text-5xl font-bold mb-3 text-backgroundTwo
            lg:pt-8">
            Jose Sissa
            <!-- <div class="flex justify-center items-center">
                <Badge>Disponible</Badge>
            </div> -->
        </h1>
        <h2 class="sm:text-xl font-medium text-test1">
            Ingeniero de Sistemas <br>Desarrollador Web
        </h2>
    </div>

    <ul class="flex items-center">
        <li>
            <SocialPill href="https://www.linkedin.com/in/josesissamendoza/">
                <LinkedinIcon class="size-6" />
            </SocialPill>
        </li>
        <li>
            <SocialPill href="https://github.com/JoseSissa">
                <GithubIcon class="size-6" />
            </SocialPill>
        </li>
    </ul>
</header>