---
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
import SocialPill from "../components/SocialPill.astro";

import { geti18n } from '@/i18n';
const { currentLocale } = Astro;
const i18n = geti18n({ currentLocale });
---

<header
    class="w-full lg:sticky lg:top-0 lg:max-h-screen lg:w-5/12 lg:flex lg:justify-between lg:flex-col lg:pt-16 lg:pb-20"
>
    <div class="mb-8 md:mb-0">
        <h1
            class="text-4xl sm:text-5xl font-bold mb-3 text-colorPrimary lg:pt-8"
        >
            {i18n.NAME_TITLE}
            <!-- <div class="flex justify-center items-center">
                <Badge>Disponible</Badge>
            </div> -->
        </h1>
        <h2 class="sm:text-xl font-medium text-myBlue">
            {i18n.NAME_DESCRIPTION} <br />{i18n.NAME_DESCRIPTION_AFTER_BR}
        </h2>
    </div>

    <ul class="flex items-center gap-x-4">
        <li>
            <SocialPill href="https://www.linkedin.com/in/josesissamendoza/" address="Linkedin">
                <LinkedinIcon class="size-8" />
            </SocialPill>
        </li>
        <li>
            <SocialPill href="https://github.com/JoseSissa" address="GitHub">
                <GithubIcon class="size-8" />
            </SocialPill>
        </li>
    </ul>
</header>
