---
const { href } = Astro.props
---
<a href={href} 
    target="_blank"
    rel="noreferrer"
    class="
        flex
        justify-center
        items-center
        py-2
        px-4
        gap-x-2
        border
        rounded-full
        border-white/10
        bg-white/5
        hover:bg-white/10
        hover:scale-105
    "
>
    <slot />
</a>