---
interface Props {
    href: string;
    address: string;
}
const { href, address } = Astro.props
---
<a href={href} 
    target="_blank"
    rel="noreferrer nofollow"
    class="
        flex
        justify-center
        items-center
        hover:scale-110
        text-colorSecondary
        hover:text-colorPrimary
        transition
    "
    title=`Link a mi ${address}`
    aria-label="Enlace a la página web"
>
    <slot />
</a>