<h2 class="sticky top-0 z-10 py-5 mb-5 text-2xl font-bold bg-background backgroundTransition md:py-8">
    <div class="absolute block -inset-x-5 -inset-y-0 bg-background -z-10 backgroundTransition"></div>
    <!-- <div class="absolute block -inset-x-4 -inset-y-4 rounded-lg border border-borderBox group-hover:border-borderBoxActive bg-backgroundSecondary shadowBox -z-10"></div> -->
    <slot/>
</h2>