---
import "@fontsource/onest/300.css";
import "@fontsource/onest/500.css";
import "@fontsource/onest/700.css";
interface Props {
    title: string;
    description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en" class="backgroundTransition">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="relative h-full w-full leading-5 md:leading-normal">
        <!-- Background -->
        <!-- <div class="fixed bottom-0 left-[-20%] right-0 top-[-10%] h-[800px] w-[800px] rounded-full lg:bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"></div> -->
        <!-- <div class="fixed bottom-0 right-[-20%] top-[43%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"></div> -->
        <!-- Background -->
        <slot />
    </body>
</html>
<style is:global>
    :root {
        --background: hsla(0, 0%, 98%, 1);
        --background-secondary: hsla(0, 0%, 100%, 1);
        --background-third: hsla(0, 0%, 90%, 1);
        --color-primary: hsla(0, 0%, 9%, 1);
        --color-secondary: hsla(0, 0%, 40%, 1);
        --blue: #0070f3;

        /* #d4d4d433 */
        --border-box: rgba(0, 0, 0, 0.08);
        --border-box-active: hsla(0, 0%, 75%, 1);


        /* --blue: #fff773; */
        --blue2: hsl(57, 100%, 50%);
        --yellow-one: hsl(57, 100%, 50%);
        --yellow-two: #fff773;
        --test-1: rgb(254, 249, 195);
    }

    .dark {
        /* --background: hsl(206, 100%, 7%); */
        --background: hsla(0, 0%, 0%, 1);
        --background-secondary: hsla(0, 0%, 4%, 1);
        --background-third: hsla(0, 0%, 10%, 1);
        --color-primary: hsla(0, 0%, 93%, 1);
        --color-secondary: hsla(0, 0%, 65%, 1);
        --blue: hsla(210, 100%, 66%, 1);

        --border-box: rgba(255, 255, 255, 0.05);
        --border-box-active: hsl(0, 0%, 30%);
    }

    .backgroundTransition {
        transition-property: background-color, border-color,
            text-decoration-color, fill, stroke;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
    }

    .underline-transition {
        background-image: linear-gradient(var(--color-primary) 0%, var(--color-primary) 100%);
        background-size: 0 2px;
        background-position: 100% 100%;
        background-repeat: no-repeat;
        transition: background-size .3s ease-in-out;

        &:hover {
            color: var(--color-primary);
            background-size: 100% 2px;
            background-position: 0 100%;
        }
    }

    .shadowBox {
        box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 2px 0px;
    }

    html {
        font-family: "Onest", system-ui, sans-serif;
        background: var(--background);
        color: var(--color-primary);
        scroll-behavior: smooth;
    }
    body {
        min-height: 100vh;
    }
</style>
