main {
    margin-top: 80px;
}
header {
    left:unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1366px;
    margin: 0 auto;
}
section {
    scroll-margin-top: 190px;
}
.logo {
    font-size: var(--font-medium);
}
.home, .about, .skills, .projects {
    height: auto;
    min-height: 620px;
}
.contact {
    height: 450px;
    min-height: 450px;
}
.projects{ margin-top: 8rem; padding: 0; }
.button-menu {
    display: none;
}
.menu {
    position: relative;
    width: auto;
    height: auto;
    padding: 0;
    top: 0;
    background-color: transparent;
    transform: translate(0);
}
.menu ul {
    display: flex;
}
.menu_item {
    margin: 0;
}
.menu_item a {
    position: relative;
    width: 80px;
    margin-right: 12px;
    font-size: 1.6rem;
    /* text-transform: uppercase; */
}
.item-selected::after {
    animation: grow .8s cubic-bezier(.25,1,.5,1);
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: currentColor;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translate(-50%);
}
.language-box {
    position: absolute;
    top: 0px;
    right: 15px;
    width: 50px;
    transform: translateX(0%);
}
.contact_options {
    justify-content: start;
}
