:root {
    --background: #1F1F24;
    --contrast: #FFE01B;
    /* --contrast: #FCBA28; */
    /* --contrast: #F9DC3E; */
    --white: #FDFCFE;
    --font-big: 4rem;
    --font-medium: 2rem;
    --font-small: 1.8rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}
html {
    font-size: 62.5%;
    color: var(--white);
}
body {
    max-width: 1366px;
    min-width: 326px;
    margin: 0 auto;
    font-size: var(--font-medium);
    background-color: var(--background);
    scroll-behavior: smooth;
}

.title {
    color: var(--contrast);
    font-size: var(--font-big);
    font-weight: 700;
    margin-bottom: 3rem;
}
.title-contrast {
    padding: 4px 8px;
    background-color: var(--contrast);
    color: var(--background);
    font-weight: 500;
}
.generate-text {
    display: block;
    white-space: nowrap;
    border-right: 2px solid;
    width: 14ch;
    animation: typing 2s steps(20), blink .5s infinite step-end alternate;
    overflow: hidden;
}
@keyframes typing {
    from { width: 0; }
}
@keyframes blink {
    50% { border-color: transparent; }
}
p {
    line-height: 3rem;
}

main {
    padding: 0 2rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 15px 2rem;
    border-bottom: 1px solid var(--awesome);
    backdrop-filter: blur(10px);
    background-color: var(--background);
    z-index: 10;
}
header div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section {
    width: 100%;
    max-width: 75rem;
    height: auto;
    min-height: 100vh;
    margin: 0 auto;
}
.button-menu {
    display: flex;
    flex-direction: column;
    width: 23px;
    height: 20px;
    border: 0;
    background: transparent;
    gap: .6rem;
}
.button-menu > div {
    width: 100%;
    height: 2px;
    background-color: var(--white);
    border-radius: 5px;
    transition: ease .4s;
    transform-origin: left;
}
.toggle div:first-child {
    transform: rotate(45deg);
}
.toggle div:nth-child(2) {
    opacity: 0;
}
.toggle div:last-child {
    transform: rotate(-45deg);
}
.logo {
    font-size: var(--font-small);
    font-weight: 500;
    color: var(--white);
    text-decoration: none;
}
.menu {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 30px 25px;
    text-align: center;
    background-color: rgba(0 0 0 / .9);
    transform: translateX(-100%);
    transition: transform 0.3s;
    z-index: 1;
}
.show-menu {
    transform: translateX(0px);
}
.menu ul {
    height: 100%;
    list-style: none;
}
.menu_item {
    margin-bottom: 25px;
}
.menu_item a{
    display: inline-block;
    width: 200px;
    padding: 10px 0;
    font-weight: 500;
    text-decoration: none;
    color: var(--white);
}
.home {
    width: 100%;
    height: 100vh;
    padding: 18rem 0 0 0;
    display: flex;
    align-items:flex-start;
}
.about { padding: 12rem 0 0 0; }
.about-info {
    margin-bottom: 3rem;
}
.button {
    display: inline-block;
    padding: 1.5rem;
    border: 2px solid var(--contrast);
    border-radius: 5px;
    color: var(--contrast);
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}
.skills {
    height: auto;
    min-height: 100vh;
    padding: 18rem 0 0 0;
}
.description { margin-bottom: 3rem; }
.tools {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    gap: 30px 70px;
    padding: 3rem 0;
    justify-content: center;
    background: radial-gradient(4px 4px at 50% 50%, #1F1F24 50%, transparent 50%) top / 40px 40px repeat, radial-gradient(8px 8px at 50% 50%, rgba(255,255,255,.1) 50%, transparent 50%) top / 40px 40px repeat;
}
.tool {
    max-width: 80px;
    max-height: 115px;
    text-align: center;
}
.tool_img {
    width: 100%;
}
.projects {
    height: auto;
    min-height: 100vh;
    background: radial-gradient(4px 4px at 50% 50%, #1F1F24 50%, transparent 50%) top / 40px 40px repeat, radial-gradient(8px 8px at 50% 50%, rgba(255,255,255,.1) 50%, transparent 50%) top / 40px 40px repeat;
}
.projects-container {
    display: grid;
}
.project {
    position: relative;
    width: 100%;
    max-width: 280px;
    height: 200px;
    margin: 0px auto 40px;
    padding-bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: 2px solid var(--contrast);
    border-radius: 8px;
}
.project::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}
.project a {
    width: 85px;
    padding: .5rem 1.5rem;
    z-index: 1;
}
.project h3 {
    position: absolute;
    top: 20px;
    left: 15px;
    color: var(--white);
    font-size: var(--font-small);
    font-weight: 500;
    z-index: 1;
}
.project > div {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.portfolio-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}
.contact {
    height: auto;
    min-height: 100vh;
    padding: 15rem 0 0 0;
    margin-bottom: 10rem;
}
.contact_options {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    justify-items: center;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 4rem;
}
.footer-text {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.contact-img {
    max-width: 55px;
}
.contact-img img {
    width: 100%;
}